
<div class="container">

    <div class="left-content">

      <h1>Insights About Our </h1>
      <h1>Company </h1>
     <br>
    <h6 class="grisH6">Let our experts prepare a free home analysis for you! Just fill out our form.
        <br> Surround

        yourself with the luxury and quality of one of Saskatoon’s <br>premier home builder. At
        Properties we take pride in building <br>you everything you need to call The Meadows
        home.</h6>
    <br>
    <h6  style="color:#9747FF"><i class="fas fa-arrow-right fa-xs" style="color: #9747FF"></i>Learn More</h6>
    <div class="row">
        <div class="col-md-3">
            <p>Projects</p>
           
            <h1 class="chiffre">27</h1>
            </div>
            <div class="col-md-3">
                <p>Campaigns</p>
                <h1 class="chiffre">9</h1>

                </div>
                <div class="col-md-3">
                    <p>Events</p>
                    <h1 class="chiffre">88</h1>

                    </div>
                    <div class="col-md-3">
                        <p>Exellency</p>
                        <h1 class="chiffre">56</h1>

                        </div>
    </div>
    </div>
    <div class="right-content">
        <img  class="image2"src="./assets/Image/About.png" alt="Description de l'image">
    </div>

</div>
