.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
    text-align: right;

}
.image2 {
    width: 400px; /* Largeur souhaitée */
    height: 500px;
    margin-top: 60px;
}
.grisH6{
    color: #52575C;
}
.chiffre{
    color:blueviolet;
}
