<footer>
    <div class="footer-container">
        <!-- Logo -->
        <div class="logo">
            <img src="./assets/Image/logo.png" alt="Description de l'image">
        </div>

        <!-- Section de catégories -->
        <div class="categories">
            <h4>Catégories</h4>
            <ul>
                <li><a href="#">Web Development </a></li>
                <li><a href="#"> Data Science</a></li>
                <li><a href="#"> cyber Security</a></li>


                <li><a href="#"> devops</a></li>
                <!-- Ajoutez plus de catégories si nécessaire -->
            </ul>
        </div>

        <!-- Section de contact -->
        <div class="contact">
            <h4>Contact</h4>
            <ul>
                <li><a href="#"><i class="fas fa-envelope"></i> emailgmail.com</a></li>
                <li><a href="#"><i class="fas fa-phone"></i> 95998777</a></li>
                <!-- Ajoutez d'autres moyens de contact si nécessaire -->
            </ul>
        </div>
    </div>
</footer>
